body{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}


/* 隐藏的上部下拉固定搜索框 */
.hiddle_search_wrap{
	display: none;
	z-index: 999;
	width: 100%;
	height: 40px;
	position: absolute;
	background-color: #FFF;
	padding: 7px 0;
}
.hiddle_search_wrapper{
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
.hiddle_search_img{
	float: left;
    width: 190px;
}
.hiddle_search_img>img{
	display: block;
    width: 80px;
    height: 33px;
    text-indent: -9999px;
    overflow: hidden;
}
.hiddle_search_main_wrap{
	z-index: 30px;
	position: relative;
	background-color: transparent;
	margin-left: 258px;
    margin-right: 302px;
}
.hiddle_search_main_wrap_title{
	border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 74px;
    height: 36px;
    overflow: hidden;
    background: #f4f4f4;
    border: 2px solid #ff5000;
    border-right: none;
    width: 74px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 200;
}
.hiddle_search_main_wrap_title>ul>li{
	line-height: 35px;
	margin-right: 4px;
    height: 38px;
    float: none;
    color: #3C3C3C;
    text-align: center;
    background-color: #f4f4f4!important;
    width: 74px;
    cursor: pointer;
}

/* 被选样式 */
.hiddle_selected{
	color: #3C3C3C;
    font-weight: 400;
    background-image: none;
    filter: none;
    border-top-right-radius: 0;
}

.hiddle_search_main_wrap_main_btn{
	position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 74px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.hiddle_search_main_wrap_main_btn>button{
	font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background-color: #FF4200;
    cursor: pointer;
    height: 100%;
    border: none;
    width: 100%;
    background-image: -webkit-linear-gradient(left,#ff9000 0,#ff5000 100%);
    background-image: -o-linear-gradient(left,#ff9000 0,#ff5000 100%);
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    background-repeat: repeat-x;
}
.hiddle_search_main_wrap_main_search{
	margin-left: 74px;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    overflow: hidden;
    font-size: 12px;
    overflow: hidden;
    width: 540px;
    height: 36px;
}
.hiddle_search_main_wrap_main_search>input{
	padding: 6px 0;
    text-indent: 75px;
    height: 24px;
    line-height: 24px;
    width: 490px;
    border: none;
    outline: 0;
    background: #FFF;
}

/* 页面下拉，隐藏菜单显示并在顶部固定 */
.hiddle_list{
	display: block;
	position: fixed!important;
	top: 0px;
}


/* 右边的下侧固定导航栏 */
.right_bottomnav_wrap{
    display: block;
    margin-right: -633px;
	position: absolute;
    z-index: 4;
    top: 595px;
    right: 50%;
	min-height: 0;
    width: 50px;
	background-color: #FFF;
    text-align: center;
}
.right_bottomnav_wrap>a{
	display: block;
    position: relative;
    padding: 6px 8px 0;
    height: 44px;
    line-height: 17px;
    text-decoration: none;
    font-size: 13px;
    background: #fff;
}
.fixedtool-1{
	color: #F40;
}
.fixedtool-2{
	color: #F05;
}
.fixedtool-3{
	color: #8d7afb;
}
.fixedtool-4{
	color: #A8C001;
}
.right_bottomnav_wrap>a:after{
	content: '';
    border-bottom: 1px solid #efefef;
    width: 34px;
    position: absolute;
    left: 8px;
    bottom: -1px;
    z-index: 1;
}
.right_bottomnav_pic{
	position: absolute;
    top: -28px;
    right: 0;
	height: 36px;
    width: 50px;
    overflow: hidden;
    text-align: center;
}
.right_bottomnav_pic>span{
	position: relative;
	right: 5px;
	display: block;
    height: 36px;
    width: 60px;
    line-height: 36px;
    font-size: 32px;
    color: #ff7f13;
    background-image: url(../images/wangwang.webp);
}
.fixedtool-6>i{
	line-height: 40px;
}

/* 变动样式 */
.on{
	z-index: 2;
    text-decoration: none;
    color: #FFF;
    background-repeat: no-repeat;
    font-weight: 700;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(135deg,#ff971b,#ff5000)!important;
    background-image: -o-linear-gradient(135deg,#ff971b,#ff5000)!important;
    background-image: linear-gradient(135deg,#ff971b,#ff5000)!important;
}
.in{
	z-index: 2;
    text-decoration: none;
    color: #FFF;
    background-repeat: no-repeat;
    font-weight: 700;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(135deg,#ff971b,#ff5000)!important;
    background-image: -o-linear-gradient(135deg,#ff971b,#ff5000)!important;
    background-image: linear-gradient(135deg,#ff971b,#ff5000)!important;
}


/* 固定样式 */
.fixed_div{
	position: fixed!important;
	top: 75px!important;
}


/* 整个页面 */
.page{
	min-width: 1200px;
}


/* 共同样式 */
.topnav_menu_hd{
	line-height: 30px;
}

/* 顶部导航栏 */
.topnav_wrap{
	width: 100%;
	height: 35px;
	background-color: #f5f5f5;
}
.topnav{
	margin: 0 auto;
	width: 1200px;
	height: 35px;
}
.topnav a{
	font-size: 12px;
	color: #6c6c6c;
	font-family: 微软雅黑;
}
.topnav_width1{
	width: 292px;
	height: 35px;
	/* border: 1px solid black; */
	float: left;
}
.topnav_width1>li{
	float: left;
}


.topnav_width1_menu{
	width: 79px;
	height: 35px;
	padding-top: 2px;
	margin-right: 2px;
	text-align: center;
}

.topnav_width1_submenu{
	display: none;
	/* padding: 0 1px; */
	position: relative;
	z-index: 1001;
	bottom: 2px;
	right: 1px;
	cursor: pointer;
}
.topnav_width1_submenu ul{
	position: absolute;
    left: 0;
    top: 0;
    padding: 8px;
    width: 200px;
    line-height: normal;
    border: 1px solid #EEE;
    border-top: none;
    background: #FFF;
}
.topnav_width1_submenu>ul>li{
	padding: 4px 0;
}
.topnav_width1_menu>span{
	font-size: 12px;
	color: rgb(0,0,0);
}
.topnav_width1_submenu,
.topnav_width1_menu{
	font-size: 12px;
	font-family: 微软雅黑;
	color: rgb(0,0,0);
	line-height: 20px;
}

.topnav_width1_loginbar .topnav_menu_hd a{
	margin-left: 9px;
}

.topnav_width1_phone{
	width: 80px;
	height: 35px;
	text-align: center;
	margin-left: 0px;
}
.topnav_width1_phone .topnav_menu_hd span{
	width: 60px;
	height: 35px;
}

.topnav_width2{
	display: block;
	float: right;
}
.topnav_width2>li{
	position: relative;
	top: 0;
	float: left;
}
/* 我的淘宝 */
.topnav_width2_tool_title{
	padding-left: 2px;
	padding-right: 3px;
	width: 79px;
	height: 35px;
	margin-right: 2px;
	text-align: center;
}
.topnav_width2_tool_subcontent{
	display: none;
	z-index: 1001;
	position: absolute;
	right: 1px;
	top: 35px;
	margin-top: -1px;
	background-color: #FFF;
	border: 1px solid #EEE;
	text-align: center;
	border-top:none; 
	/* width: 84px; */
	height: 74px;
	line-height: normal;
}
.topnav_width2_tool_subcontent>a{
	display: block;
	padding: 0 1px;
	line-height: 28px;
	color: #6c6c6c;
	width: 82px;
	height: 28px;
}
/* 购物车 */
.topnav_width2_shop{
	width: 60px;
	height: 35px;
	text-align: center;
}
/* 收藏夹 */
.topnav_width2_save_title{
	width: 80px;
	height: 35px;	
	text-align: center;
	margin-right: 2px;
}
.topnav_width2_save_content{
	width: 80px;
	height: 80px;
	display: none;
	z-index: 1001;
	position: absolute;
	right: 1px;
	top: 35px;
	margin-top: -1px;
	background-color: #FFF;
	border: 1px solid #EEE;
	border-top:none; 
	height: 74px;
	line-height: normal;
	text-align: center;
}
.topnav_width2_save_content>a{
	display: block;
	line-height: 28px;
	color: #6c6c6c;
	width: 80px;
	height: 28px;
}
/* 商品分类 */
.topnav_width2_kind{
	width: 60px;
	height: 35px;
	text-align: center;
}
/* 竖线 */
.topnav_width2_line{
	width: 10px;
	height: 35px;
	text-align: center;
	line-height: 30px;
	/* padding: 0 5px; */
	font-style: normal;
	color: #ddd;
}
/* 卖家中心 */
.topnav_width2_sell_title{
	width: 79px;
	height: 35px;
	margin-right: 2px;
	text-align: center;
}
.topnav_width2_sell_content{
	display: none;
	width: 79px;
	height: 102px;
	z-index: 1001;
	position: absolute;
	right: 1px;
	top: 30px;
	background-color: #FFF;
	border: 1px solid #EEE;
	border-top:none; 
	line-height: normal;
	text-align: center;
}
.topnav_width2_sell_content>a{
	display: block;
	line-height: 28px;
	height: 28px;
	color: #6C6C6C;
}
/* 联系客服 */
.topnav_width2_call_title{
	width: 79px;
	height: 35px;
	text-align: center;
	margin-right: 2px;
}
.topnav_width2_call_content{
	display: none;
	width: 79px;
	height: 74px;
	z-index: 1001;
	position: absolute;
	right: 1px;
	top: 35px;
	margin-top: -1px;
	background-color: #FFF;
	border: 1px solid #EEE;
	border-top:none; 
	line-height: normal;
	text-align: center;
}
.topnav_width2_call_content>a{
	display: block;
	line-height: 28px;
	width: 79px;
	height: 28px;
	color: #6C6C6C;
}
/* 网站导航 */
.topnav_width2_menu_title{
	width: 96px;
	height: 35px;
	margin-right: 2px;
	text-align: center;
}
.topnav_width2_menu_content{
	z-index: 10000;
	display: none;
	overflow: hidden;
    position: absolute;
    top: 35px;
    right: 50%;
    margin-right: -49px;
    width: 1232px;
    min-height: 258px;
    line-height: normal;
    border: 1px solid #eee;
    background: #fff;
}
/* 网站子导航栏1 */
.topnav_width2_menu_content1{
	display: block;
	float: left;
	width: 297px;
	height: 300px;
	padding: 5px;
	border-right: 1px solid #eee;
	overflow: hidden;
}
.topnav_width2_menu_content1_title>h4{
	color: #fc4200;
	margin: 5px;
	font-size: 16px;
	font-weight: 600;
	overflow: hidden;
}
.topnav_width2_menu_content1_main>ul>li{
	float: left;
	padding-top: 5px;
	width: 24%;
	height: 25px;
	overflow: hidden;
	text-align: center;
}
.topnav_width2_menu_content1_main>ul>li>a{
	display: block;
	height: 25px;
	position: relative;
    float: left;
    line-height: 25px;
    margin: 0 2px;
    padding: 0 8px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #3c3c3c;
}
/* 网站子导航栏2 */
.topnav_width2_menu_content2{
	display: block;
	float: left;
	width: 297px;
	height: 300px;
	padding: 5px;
	border-right: 1px solid #eee;
	overflow: hidden;
}
.topnav_width2_menu_content2_title>h4{
	color: #9fb838;
	margin: 5px;
	font-size: 16px;
	font-weight: 600;
	overflow: hidden;
}
.topnav_width2_menu_content2_main>ul>li{
	float: left;
	padding-top: 5px;
	width: 24%;
	height: 25px;
	overflow: hidden;
	text-align: center;
}
.topnav_width2_menu_content2_main>ul>li>a{
	display: block;
	height: 25px;
	position: relative;
    float: left;
    line-height: 25px;
    margin: 0 2px;
    padding: 0 8px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #3c3c3c;
}
/* 网站子导航栏3 */
.topnav_width2_menu_content3{
	display: block;
	float: left;
	width: 297px;
	height: 300px;
	padding: 5px;
	border-right: 1px solid #eee;
	overflow: hidden;
}
.topnav_width2_menu_content3_title>h4{
	color: #d75696;
	margin: 5px;
	font-size: 16px;
	font-weight: 600;
	overflow: hidden;
}
.topnav_width2_menu_content3_main>ul>li{
	float: left;
	padding-top: 5px;
	width: 24%;
	height: 25px;
	overflow: hidden;
	text-align: center;
}
.topnav_width2_menu_content3_main>ul>li>a{
	display: block;
	height: 25px;
	position: relative;
    float: left;
    line-height: 25px;
    margin: 0 2px;
    padding: 0 8px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #3c3c3c;
}
/* 网站子导航栏4 */
.topnav_width2_menu_content4{
	display: block;
	float: left;
	width: 297px;
	height: 300px;
	padding: 5px;
	border-right: 1px solid #eee;
	overflow: hidden;
}
.topnav_width2_menu_content4_title>h4{
	color: #2e9fdb;
	margin: 5px;
	font-size: 16px;
	font-weight: 600;
	overflow: hidden;
}
.topnav_width2_menu_content4_main>ul>li{
	float: left;
	padding-top: 5px;
	width: 24%;
	height: 25px;
	overflow: hidden;
	text-align: center;
}
.topnav_width2_menu_content4_main>ul>li>a{
	display: block;
	height: 25px;
	position: relative;
    float: left;
    line-height: 25px;
    margin: 0 2px;
    padding: 0 8px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #3c3c3c;
}

/* 顶部导航栏下拉菜单固定样式 */
.topnav_width1_menu_hover{
	margin-left:-1px;/* 向里缩进 */
	margin-right: 1px;
	background-color: rgb(255,255,255);
	border-width: 0 1px;
	border-style: solid;
	border-color: #EEE;
}



/* 主导航栏 */
.mainbav{
	width: 1200px;
	height: 140px;
	margin: 0 auto;
	position: relative;
}
.mainbav_logo{
	margin-top: 30px;
	float: left;
	width: 190px;
	height: 88px;
	text-align: center;
}
.mainbav_logo>img{
	margin-top: 16px;
}
.mainbav_search_wrap{
	position: absolute;
	float: left;
	top: 30px;
	left: 300px;
	width: 700px;
	height: 100px;
}
.mainbav_search_wrap_title{
	margin-left: 16px;
	width: 613px;
	height: 22px;
}
.mainbav_search_wrap_title>ul>li{
	float: left;
	color: #F40;
    text-align: center;
    width: 36px;
    height: 22px;
    line-height: 22px;
    margin-right: 4px;
    font-size: 14px;
    cursor: pointer;
}
.mainbav_search_wrap_main_search{
	float: left;
}
.mainbav_search_wrap_main>form>i{
	display: block;
	position: absolute;
	left: 15px;
	top: 30px;
	background-image: url(../images/search_img.png);
	background-position: 0 0;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}
.mainbav_search_wrap_main_search>input{
	width: 552px;
	height: 36px;
	border-radius: 20px 0 0 20px;
	text-indent: 30px;
	border-color: #ff5000;
	border-width: 2px;
	border-style: solid;
	outline: none;/* 在<input>中输入时不会显示原有的<input>窗口 */
	text-indent: 10px;/* 段落缩进 */
}
.mainbav_search_wrap_main_btn{
	float: left;
	width: 74px;
	height: 42px;
}
.mainbav_search_wrap_main_btn>button{
	font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background-color: #FF4200;
    cursor: pointer;
    outline: none;/* 不显示原来的边框 */
    height: 100%;
    border: none;
    width: 100%;
    border-radius: 0 20px 20px 0;
    background-image: -webkit-linear-gradient(left,#ff9000 0,#ff5000 100%);
    background-image: -o-linear-gradient(left,#ff9000 0,#ff5000 100%);
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    background-repeat: repeat-x;
}
.mainbav_code_wrap{
	position: absolute;
	float: left;
	top: 30px;
	right: 100px;
}
.mainbav_code_wrap_main{
	position: relative;
	cursor: pointer;
	display: block;
	text-align: center;
	width: 74px;
	height: 88px;
	border: 1px solid #eee;
}
.mainbav_code_wrap_main>img{
	width: 62px;
	height: 62px;
}
.mainbav_code_wrap_main>span{
	line-height: 20px;
	margin: 4px auto 0;
	color: #ff5000;
	font-size: 12px;
}
.mainbav_code_wrap_del{
	position: absolute;
	top: 0;
	left: -16px;
	display: block;
	width: 14px;
	height: 14px;
	border: 1px solid #eee;
}
.mainbav_code_wrap_del>a{
	position: relative;
	bottom: 4px;
	width: 14px;
	height: 14px;
	text-align: center;
	display: block;
	font-size: 14px;
	color: #DDD;
	padding-bottom: 2px;
	cursor: pointer;
}
.mainbav_search_wrap_exp{
	position: relative;
	top: 10px;
	left: 16px;
	width: 600px;
	height: 20px;
	overflow: hidden;
}
.mainbav_search_wrap_exp_more{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	color: #666;
}
.mainbav_search_wrap_exp_list1>a{
	float: left;
	margin-right: 8px;
	font-size: 12px;
	color: #666;
}
.mainbav_search_wrap_exp_list2{
	display: none;
}
.mainbav_search_wrap_exp_list2>a{
	float: left;
	margin-right: 8px;
	font-size: 12px;
	color: #666;
}

/* 公共样式 */
.mainbav_search_wrap_title_lihover{
	color: #FFF!important;
	background-image: -webkit-linear-gradient(left,#ff9000 0,#ff5000 100%);
	background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
	background-repeat: repeat-x;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}
.h{
	color: #ff5000!important;
}



/* 子导航栏 */
.subnav{
	width: 100%;
	height: 30px;
	background-image: -webkit-linear-gradient(left,#ff9000 0,#ff5000 100%);
	background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
	background-repeat: repeat-x;
}
.subnav_wrap{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
}
.subnav_wrap span{
	float: left;
	margin-bottom: 15px;
	width: 190px;
	height: 30px;
	line-height: 30px;
	color: #FFF;
	font-weight: 700;
	text-align: center;
	font-size: 16px;
	background-color: #ff5000;
}
.subnav_wrap_main_list1{
	z-index: 5;
	position: relative;
	float: left;
	height: 30px;
	font-size: 16px
}
.subnav_wrap_main_list1>li{
	float: left;
	margin: 0 3px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	padding: 0 5px;
	font-weight: 700;
	color: #FFF;
	cursor: pointer;
}
.subnav_wrap_main_list1>li>a{
	color: #FFF;
	font-weight: 700;
}
.subnav_wrap_main_list2{
	z-index: 5;
	position: relative;
	height: 30px;
	float: left;
	font-size: 14px;
}
.subnav_wrap_main_list2>li{
	margin-left: 7px;
	position: relative;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	color: #FFF;
	font-weight: 700;
	float: left;
}
.subnav_wrap_main_list2>li>a{
	color: #FFF;
	font-weight: 700;
}
.subnav_wrap_main_list3{
	z-index: 5;
	position: relative;
	height: 30px;
	float: left;
	font-size: 14px;
}
.subnav_wrap_main_list3>li{
	margin-left: 7px;
	position: relative;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	color: #FFF;
	font-weight: 700;
	float: left;
}
.subnav_wrap_main_list3>li>a{
	color: #FFF;
	font-weight: 700;
}

/* 鼠标滑过触发事件 */
/* .subnav_wrap_main_list1>li>a:hover:brefore{
		content: 'here';
		font-family: iconfont;
		color: #ff5000;
		top: -19px;
		position: absolute;
		left: 50%;
		font-size: 12px;
		margin-left: -15px;
} */